

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #150c24;
}

.btn {
    padding:20px 80px;
    background: #337eff;
    border:1px solid;
    outline:none;
    border-radius: 20px;
    color:white;
    box-shadow: 0 0 40px rgba(0, 95, 255, 0.4);
    font-size: 32px;
}

